<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="info.christiancoleman.whosonlineforconvrge" >

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".WhosOnlineApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        android:allowBackup="true">
        <activity
            android:name="info.christiancoleman.whosonlineforconvrge.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <service
            android:name=".WhosOnlineService"
            android:exported="false"/>
    </application>

</manifest>
